.btn {
  border: 0;
  background-color: transparent;
  padding: var(--padding-sm);
  border-radius: calc(46px / 2);
  cursor: pointer;
}

.btn img {
  width: var(--font-size-ms);
}

.primary {
  background-color: var(--color-black);
  color: var(--color-white);
  text-transform: uppercase;
}

.white {
  height: 4.7rem;
  width: 4.7rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-to-low);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  text-decoration: underline;
  text-transform: capitalize;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
}

.menu,
.circle {
  background-color: var(--color-black);
  height: 4.7rem;
  width: 4.7rem;
  z-index: 999;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle {
  color: var(--color-white);
  font-size: var(--font-size-ms);
}

.menu img {
  width: 3rem;
}

.pagination,
.social {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-low);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error,
.red {
  background-color: rgb(255, 37, 37);
  color: var(--color-white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
}

.red {
  text-transform: uppercase;
}
