.header {
  width: 100%;
  background-color: var(--color-silver);
  padding-inline: var(--padding-sm);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  place-content: center;
  gap: var(--padding-md);
}

.hero {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  gap: var(--space-md);
}

.hero .heroImage {
  width: min(320px, 100%);
}

.hero .heroImage img {
  max-width: 100%;
}

.hero .heroTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  text-align: center;
  max-width: 40ch;
}

.hero .heroTitle div {
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
}

@media (min-width: 768px) {
  .header {
    height: 100dvh;
  }

  .hero {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
  }

  .hero .heroImage {
    justify-self: end;
    max-width: 400px;
  }

  .hero .heroTitle {
    text-align: left;
  }
}
