.slide {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--color-white);
  height: 100%;
}

.slide .title {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--padding-sm);
}

.slide .title h2 {
  width: 50%;
}

.slide img {
  width: 100%;
}

.slide p {
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 80%) #f1f1f1;
}

.slide span {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
